<nav>
    <button type="button"><a href="/login">Login</a></button>
    <button type="button"><a href="/usuario">Usuario</a></button>
  </nav>
<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" [(ngModel)]="usuario.email" class="form-control" id="email" name="email"
                    placeholder="Enter your email address" required #email="ngModel">
                <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
                <input type="text" [(ngModel)]="usuario.contrasenia" class="form-control" id="contrasenia" name="contrasenia"
                    placeholder="Enter your password" required #contrasenia="ngModel">
                <div [hidden]="!contrasenia.pristine" class="alert alert-danger">Password is required</div>
            </div>
            <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
        </form>
    </div>
</div>

